.clef_option
    display: grid
    grid-template-columns: auto auto
    align-items: center
    width: calc(100% - 10px - 10px)
    margin-bottom: 10px
    padding-block: 5px
    border-radius: 5px
    padding-left: 10px
    padding-right: 10px
    .flex-18
        display: flex
        align-items: center
        svg
            margin-right: 5px
    &.active
        background-color: var(--lightest)
    &:last-child
        margin-bottom: 0px
    &:hover 
        cursor: pointer
    span,img,svg
        user-select: none
    svg,img
        color: var(--dark)
        display: inline-block
        width: fit-content
        margin-left: auto
        height: 36px
