
#Aboutpage
    div:has(#goBackButton)
        margin-inline: auto
    .section
        margin-bottom: 30px
        text-align: justify
    *:not(.title-24,.title-36)
        text-transform: none
    .webtitle
        max-width: 100% !important
        justify-content: center
        white-space: nowrap